<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
		              type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ProcessCpuUsageStatusWindow.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			         allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
		<ProcessCpuUsageStatusWindow.Properties.Settings>
			<setting name="ProcessCount" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="UpdateInterval" serializeAs="String">
				<value>00:00:02</value>
			</setting>
			<setting name="WindowSettings" serializeAs="String">
				<value />
			</setting>
			<setting name="AutoStart" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="FirstRun" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="ShowProcessId" serializeAs="String">
				<value>False</value>
			</setting>
		</ProcessCpuUsageStatusWindow.Properties.Settings>
	</userSettings>
</configuration>